<!DOCTYPE html>
<html>
<head>
    <meta charset=UTF-8">
    <title> form 태그 </title>
    <style> 
       .result{color : red;
               font-size : 20px;}
        a{
           text-decoration: none; /* a 태그 기본 서식 제거 */
           color : #333;
        }
        /* 앵커 태그 위 마우스 오버시 */
        a:hover{
            text-decoration: none; 
            color : blue;
            font-family : 맑은 고딕;
        }               
    </style>
</head>
<body>
  <div align="center">
  <h2> error 결과 페이지 </h2>
  <table border="1" width="500">
     <tr>
         <th width="100"> error 정보 </th>
         <th class="result"> {{err}} </th>
     </tr>     
    </table>
    <br/>
    <a href="/"> 시작페이지 </a> 
  </div>
</body>
</html>