<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Flask Index</title>
    <style>    
        td{text-align : center}  
        th{background : green; color : white}   
    </style>
</head>
<body>
  <div align="center">
      <h2> 과일 정보 </h2>
      <table border="1" width = "350">
          <tr>
              <th> 상품명 </th>
              <th> 상품 이미지 </th>
          </tr>
                      
          <tr>
              <td> {{name}} </td>
              <td> 
                   <img src="{{ url_for('static', filename='images/' + name + '.png') }}"> 
              </td>  
          </tr>       
      </table>
      <br>      
      <a href='/'> 목록 </a>
  </div>

</body>
</html>
