<!DOCTYPE html>
<html lang="ko" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title> table 태그 </title>
 <style>
   th{height : 50px; background : green; color : white}
   td{text-align : center}
 </style>
</head>
<body>   
  <div align="center">
      <h1> 과일 목록 </h1>
         <table border="1" width="400">
            <tr>     
             <th> 과일명 </td>
             <th> 원산지 </td>    
             <th> 단가 </td>            
            </tr>            
            <tr> 
              <td> <a href="/finfo/{{'배'}}"> 배 </a> </td>  
              <td> 울산광역시 </td>              
              <td>  5,000원 </a> </td> 
            </tr>             
            <tr> 
              <td> <a href="/finfo/{{'복숭아'}}">  복숭아 </a> </td>  
              <td> 전북 전수 </td>
              <td> 5,500원 </a> </td> 
            </tr> 
            <tr> 
              <td> <a href="/finfo/{{'사과'}}"> 사과 </a> </td>  
              <td> 경북 영주 </td>
              <td>  4,000원 </a> </td> 
            </tr> 
        </table>
       </form>   
 </div>
</body>
</html>

