<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Info 페이지 </title>    
    <style>
           a{
              text-decoration: none; /* a 태그 기본 서식 제거 */
              color : #333;
           }
           /* 앵커 태그 위 마우스 오버시 */
           a:hover{
               text-decoration: none; 
               color : blue;
               font-family : 맑은 고딕;
           }
           
          /* 목록 스타일 추가 */
         li{color : green}
    </style>
</head>
<body>
    <div align="center">
        <h1>Flask Info</h1>
        <hr/>
   </div>     
        <h3> <!-- 제목 태그 적용 : 3번 글자 크기 -->  
            <!-- 순서 없는 목록 --> 
            <ul>
              <li> Python 웹 Application 개발 프레임워크 </li>
              <li> 마이크로 프레임워크 </li>
            </url>  
        </h3>
</body>
</html>


